<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

    <h2>Create new restaurant</h2>

    <%= simple_form_for(@restaurant) do |a| %>
      <%= a.input :name %>
      <%= a.input :address %>
      <%= a.input :phone_number %>
      <%= a.input :category, collection: Restaurant::CATEGORIES %>
      <%= a.submit "add a restaurant", class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>
</div>
